@media only screen and (max-width:991px) {
   .title1{
   justify-self: center;
   }
   .flex{
      margin: 16px 0px 0px 0px !important;
   }
   .footer1{
      text-align: center;
   }
   .sec-title{
      font-size: 20px;
   }
   .offers{
      margin-top: 25px;
      padding-top: 10px !important;
   }
}
@media only screen and (min-width:992px){

}